<footer class="bg-primary py-4 text-white font-medium w-full">
  <section class="flex justify-center items-center">
    <article class="flex flex-col text-center gap-y-4">
      <div class="flex flex-col text-center lg:flex-row md:gap-x-20 gap-y-4">
        <h3>2023 ©  Municipio de Valle de Santiago, Guanajuato</h3>
        <h3>Autor: Antonio Silva Tavera | Diseño: José Antonio Silva Zavala</h3>
      </div>

      <div class="flex flex-col lg:flex-row justify-between items-center gap-y-4">
        <div class="flex items-start justify-center lg:justify-start gap-2 text-4xl">
          <a href="https://www.facebook.com/elpaisdelassieteluminarias" target="_blank"><i class='bx bxl-facebook-circle cursor-pointer lg:hover:text-blue-500 transition-colors'></i></a>
          <a href="https://twitter.com/antoniosilva61" target="_blank"><i class='bx bxl-twitter cursor-pointer lg:hover:text-blue-700 transition-colors'></i></a>
          <a href="https://youtube.com" target="_blank"><i class='bx bxl-youtube cursor-pointer lg:hover:text-red-500 transition-colors'></i></a>
          <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram cursor-pointer lg:hover:text-purple-500 transition-colors'></i></a>
        </div>
        <a 
          href="https://valledesantiago.org.mx/" 
          target="_blank"
          class="underline lg:hover:opacity-70 transition w-fit"
        >Echa un vistazo al sitio original
        </a>
      </div>
    </article>
  </section>
</footer>