<footer class="bg-primary py-[0.65rem] text-white font-medium">
  <section class="flex flex-col text-center gap-y-4 md:flex-row justify-center items-center md:gap-x-20">
    <h3>
      2023 ©  Municipio de Valle de Santiago, Guanajuato 
    </h3>
    <h3>
      Autor: Antonio Silva Tavera | Diseño: José Antonio Silva Zavala
    </h3>
  </section>
</footer>