<aside class="absolute top-1/2 transform -translate-y-1/2 -left-20 flex-col gap-y-4 text-5xl
  text-gray hidden md:flex">
  <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook-circle cursor-pointer lg:hover:text-blue-500 transition-colors'></i></a>
  <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter cursor-pointer lg:hover:text-blue-700 transition-colors'></i></a>
  <a href="https://youtube.com" target="_blank"><i class='bx bxl-youtube cursor-pointer lg:hover:text-red-500 transition-colors'></i></a>
  <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram cursor-pointer lg:hover:text-purple-500 transition-colors'></i></a>
</aside>
