<aside class="absolute -top-16 left-0 flex transform gap-2 lg:gap-4 text-4xl
  text-gray lg:top-1/2 lg:-translate-y-1/2 lg:-left-20 lg:flex-col lg:text-5xl">
  <a href="https://facebook.com" target="_blank"><i class='bx bxl-facebook-circle cursor-pointer lg:hover:text-blue-500 transition-colors'></i></a>
  <a href="https://twitter.com" target="_blank"><i class='bx bxl-twitter cursor-pointer lg:hover:text-blue-700 transition-colors'></i></a>
  <a href="https://youtube.com" target="_blank"><i class='bx bxl-youtube cursor-pointer lg:hover:text-red-500 transition-colors'></i></a>
  <a href="https://instagram.com" target="_blank"><i class='bx bxl-instagram cursor-pointer lg:hover:text-purple-500 transition-colors'></i></a>
</aside>
