---
import Layout from "../../layouts/Layout.astro";
import { estadisticas } from '../../components/Actualizaciones/estadisticas-data.astro';

const url = Astro.url;
const { pathname } = url;
const pathParts = pathname.split('/').filter(Boolean);
---

<Layout title="Estadísticas">
  <section>
    <p class="text-gray mt-2">
      {pathParts.map((part, index) => (
        <span>
          {part}
          {index < pathParts.length - 1 ? ' > ' : ''}
        </span>
      ))}
    </p>

    <h2 class="text-3xl text-MontserratAlternates text-primary font-semibold uppercase mt-8">
      Estadísticas
    </h2>
    <h4 class="text-black/60 text-sm mb-8">Datos de la página www.valledesantiago.net HASTA DICIEMBRE DE 2013</h4>

    <main class="mt-8 grid grid-cols-1 md:grid-cols-2 pb-20 gap-10">
      {estadisticas.map(({title, image}) => (
        <img 
          src={`/images/actualizaciones/estadisticas/${image}`} 
          alt={title}
          title={title}
          class="w-full h-full rounded object-contain"
        />
      ))}
    </main>
  </section>
</Layout>