---
import Header from '../components/Index/Header/Header';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Index/Navbar/Navbar';
import VideoHero from '../components/Index/VideoHero.astro';
import Sections from '../components/Index/Sections/Sections.astro';
import Slider from '../components/Index/Slider/Slider';
---

<Layout title="El País de las 7 luminarias.">
	<main>
		<!-- <Header />
		<Navbar /> -->
		<!-- <VideoHero />
		<Sections /> -->
		<!-- <Slider client:visible /> -->
	</main>
</Layout>