---
import Header from '../components/Header.tsx';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.tsx';
import ImgHero from '../components/ImgHero.astro';
import VideoHero from '../components/VideoHero.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
		<ImgHero />
		<Navbar />
		<VideoHero />
	</main>
</Layout>