---
import Search from "../../Index/Search.astro";
---

<header class="lg:hidden bg-primary py-3">
  <section class="flex justify-between gap-x-4">
    <img 
      src="images/LogoValle.png" 
      alt="Logo-Valle"
      title="Logo-Valle"
      class="w-10 h-10"
    />

    <Search />

    <i class='bx bx-menu-alt-right text-4xl'></i>
  </section>
</header>