---
import Search from "./Search";

---

<article class="bg-black max-w-[1000px] mx-auto max-h-[570px] my-12 p-2 relative">
  <video 
    class="w-full mx-auto opacity-50"
    muted
    autoplay
    src="/public/videoHero.mp4"  
    title="Atracciones Valle de Santiago, GTO" 
    >
  </video>

  <aside class="absolute top-[35%] left-[30%] max-w-xs md:max-w-md">
    <h2 class="text-white font-semibold text-3xl sm:text-4xl md:text-5xl font-OpenSan italic text-center">EL PAÍS DE LAS 7 LUMINARIAS</h2>
    <div class="hidden md:block mt-4">
      <Search />
    </div>
  </aside>
</article>