---
import Layout from "../../layouts/Layout.astro";
import { cronologia } from '../../components/historia/cronologia-data.astro';
---

<Layout title="Cronología">
  <section>
    <main class="mt-4 grid grid-cols-1 md:grid-cols-3 pb-20 gap-x-20">
      <article class="md:col-span-2">
        <aside class="py-2 px-4 bg-gradient-to-br from-primary to-secondary
        text-white text-xl md:text-2xl rounded-xl font-MontserratAlternates mt-6 mb-4 relative w-fit">
            Cronología
          <div class="absolute inset-0 border-4 border-primary rounded-xl"></div>
        </aside>
        
        <h3 class="font-semibold text-lg mb-4">Antecedentes Históricos</h3>
        <p class="mb-4">La fundación legal de Valle de Santiago, se realiza el 28 de mayo de 1607, por Cristóbal Martínez y Juan Fernández comisionados para medir las vecindades y solares y por un grupo de españoles venidos de la recién fundada Salamanca.</p>
        <p class="mb-4">Sus fundadores fueron Pedro Martínez Rincón, Pedro Rivera, Diego Tamayo, Francisco Gómez, Francisco Santoyo, Silvestre de Aguirre, Luis Fonseca, Antonio Estrada, Andrés Cuéllar y Juan Martínez. Mención destacada merecen Cristóbal Martín y Juan Fernández.</p>
        <p class="mb-4">Su nombre autóctono era Camémbaro, que en purépecha quiere decir lugar de ajenjo o estafiate.</p>
        <p class="mb-4">En apretada semblanza cronológica, los hechos principales sucedidos en el municipio de Valle de Santiago, son los siguientes:</p>
        <h3 class="font-semibold text-lg">800/900 a 1200 d. C.</h3>
        <p class="mb-4">Hay indicios de la fase tolteca-mazapa, del Posclásico temprano (800-900 a 1200 d.C.), en lugares como Pantoja, en cuya cerámica aparecen los tipos plomizo, Mazapa de líneas ondulantes, Tula blanco con decoración naranja y figurillas de molde donde el arqueólogo Emilio Bejarano excavó, durante el periodo 1970-1973, unas ruinas de origen chupícuaro-tarasco.</p>
        <h3 class="font-semibold text-lg mb-4">25 de julio de 1562</h3>
        <p class="mb-4">Día de Santiago Apóstol. Llegada de españoles e indios a la antigua aldea purépecha de Camémbaro.</p>
        <h3 class="font-semibold text-lg">28 de mayo de 1607</h3>
        <p class="mb-4">Se funda, como ya anteriormente se había mencionado, con el nombre de Valle de Santiago.</p>
        <h3 class="font-semibold text-lg">15 de abril de 1693</h3>
        <p class="mb-4">Se inicia la obra del Hospital de tarascos cuya iglesia fue la primera del lugar. La terminación data de 1698.</p>
        <h3 class="font-semibold text-lg">Año de 1738</h3>
        <p class="mb-4">Pedro Bautista Lascuráin de Retana, ex minero de origen vasco asentado en Valle de Santiago y propietario de haciendas y extensos terrenos en la región, realiza cuantiosas donaciones para el Colegio de la Santísima Trinidad, antecedente directo de la Universidad de Guanajuato. En su honor, la calle donde se ubica actualmente el edificio central de dicha universidad, lleva su nombre.</p>
        <h3 class="font-semibold text-lg">11 de octubre de 1810.</h3>
        <p class="mb-4">El ejército insurgente abandona la ciudad de Guanajuato el 10 de octubre de 1810, marchando hacia Valladolid y tocando de paso Silao, Irapuato, Salamanca, Valle de Santiago, Salvatierra, Acámbaro, Indaparapeo y Charo. Pernocta en la ciudad el cura Hidalgo, Padre de la Patria.</p>
        <h3 class="font-semibold text-lg">12 de octubre de 1810</h3>
        <p class="mb-4">laguna”, presenta para ponerse a las órdenes del cura Hidalgo y de la insurgencia, a su hijo José María Magaña con estas palabras: “Señor Cura, ¡Ojala que las condiciones de mi edad y de mi sexo me permitiesen seguir a los libertadores de la bendita causa que vienen defendiendo! Pero como esto no es así, le traigo a mi hijo, mi único hijo, para que combata por la patria”. Poco tiempo después, huyendo y herido llega a la casa materna el joven José María. Su madre lo recibe con estas palabras “Voy a curar tus heridas, y cuando estés sano, torna al combate y procura vengar la afrenta que sufriste ¡la patria lo reclama y tu madre lo ordena!”.</p>
        <h3 class="font-semibold text-lg">5 de junio de 1812</h3>
        <p class="mb-4">Captura de Albino García y matanza de insurgentes por el jefe realista Agustín de Iturbide.</p>
        <h3 class="font-semibold text-lg">25 de julio de 1812</h3>
        <p class="mb-4">Ejecución en la plaza principal, por orden expresa de Agustín de Iturbide, de don Benito González y dos de sus hijos, uno y otros conocidos por “Los Moros”. Ese sábado se celebraba, como todos los años, la fiesta grande en honor de Santiago Apóstol.</p>
        <h3 class="font-semibold text-lg">14 de septiembre de 1817</h3>
        <p class="mb-4">Última visita de Francisco Javier Mina a Valle de Santiago, donde pretendía desposarse con una mujer local. Firma la circular de esa fecha dirigida a los guerrilleros del Bajío.</p>
        <h3 class="font-semibold text-lg">Año de 1818</h3>
        <p class="mb-4">Para privar de recursos a los realistas y siguiendo el conocido entonces como “sistema de desolación”, el cabecilla insurgentes Juan Antonio Torres – El Padre Torres -, manda realizar un incendio total del pueblo de Valle de Santiago.</p>
        <h3 class="font-semibold text-lg">1 de enero de 1820</h3>
        <p class="mb-4">Una vez iniciado el movimiento insurgente, diversas disposiciones intentaron definir la nueva conformación del país. El sistema de organización municipal - inspirado en el modelo español - fue impulsado en las nacientes provincias mediante decreto publicado en Guanajuato el 23 de mayo de 1812. En el mismo, las Cortes generales y extraordinarias dispusieron la formación de ayuntamientos municipales en todos aquellos pueblos con más de mil almas o que por sus particulares circunstancias de agricultura, industria o población lo consideraran conveniente. Valle de Santiago fue una de las poblaciones que se acogió a esta disposición al establecerse su ayuntamiento a partir de esta fecha covirtiéndose en municipio.</p>
        <h3 class="font-semibold text-lg">16 y 17 de marzo de 1821</h3>
        <p class="mb-4">Los jefes militares que operaban en la intendencia de Guanajuato, Luis de Cortazar y Anastasio Bustamante, se adhirieron al Plan de Iguala, proclamado por Agustín de Iturbide el 24 de febrero de ese año. El primero lo hizo en la población de Amoles (hoy Cortazar) y el segundo en la hacienda de Pantoja, perteneciente al Valle de Santiago en donde proclama la independencia de México y la abolición de la esclavitud. Marcha Bustamante inmediatamente a la ciudad de Guanajuato en donde, por previa y explícita solicitud de vecinos del Valle de Santiago, retira las cabezas de Hidalgo, Allende, Aldama y Jiménez, que aún se encontraban colgadas en las esquinas de la Alhóndiga de Granaditas.</p>
        <h3 class="font-semibold text-lg">14 de abril de 1826</h3>
        <p class="mb-4">Valle de Santiago es de los diecisiete primeros conformantes del territorio del Estado. En efecto, en esta fecha el Congreso Local emite la primera Constitución Política del Estado Libre de Guanajuato, la cual establece en su artículo 4º: “Forman el territorio del estado: Acámbaro, Apaseo, Celaya, Dolores Hidalgo, San Felipe, Guanajuato, Irapuato, Leon, San Luis de la Paz, San Miguel el Grande, Pénjamo, San Pedro Piedra Gorda, Salvatierra, Salamanca, Silao, Valle de Santiago y Yuririapúndaro, con los pueblos anecsos á estos y con todo el terreno de la que antes se llamó provincia de Guanajuato, cúyos límites se demarcarán por todos vientos de una manera inequívoca”</p>
        <h3 class="font-semibold text-lg">18 de julio de 1827</h3>
        <p class="mb-4">El estado se divide en cuatro departamentos, con cabeceras en Guanajuato, Celaya, San Miguel de Allende y León. A Valle de Santiago le toca formar parte del departamento de Guanajuato junto con los partidos de Silao, Irapuato y Salamanca y “territorio anexo á estos”.</p>
        <h3 class="font-semibold text-lg">30 de junio de 1871</h3>
        <p class="mb-4">Siendo gobernador del estado el general Florencio Antillón y mediante el decreto No. 97, la localidad de Valle de Santiago se eleva a la categoría de ciudad.</p>
        <h3 class="font-semibold text-lg">Año de 1874</h3>
        <p class="mb-4">La región sufre una severa inundación que la deja incomunicada durante varios meses. Se inicia el servicio de telégrafos.</p>
        <h3 class="font-semibold text-lg">15 de septiembre de 1875</h3>
        <p class="mb-4">La división política del estado, de acuerdo con las Memorias del entonces gobernador Florencio Antillón, estaba integrada por 5 departamentos y 31 partidos. Al departamento de Guanajuato lo conforman los partidos de la Capital, La Luz, Silao, Romita, Irapuato, Salamanca, Valle de Santiago, Abasolo y Pénjamo.</p>
        <h3 class="font-semibold text-lg">13 de julio de 1877</h3>
        <p class="mb-4">A través del decreto Nº 16, artículos 1 y 2, la ciudad de Valle de Santiago se erige como cabecera de un nuevo departamento en el estado, sumándose a los otros cinco departamentos ya existentes en Guanajuato, León, Celaya, Allende y Sierra Gorda. A éste se le denomina Departamento del Valle, con jurisdicción en Cuitzeo de Abasolo, Yuriria y Moroleón.</p>
        <h3 class="font-semibold text-lg">16 de mayo de 1885</h3>
        <p class="mb-4">Mediante la promulgación del decreto Nº 49, que modificó varios artículos de la Constitución, se regresa a la división política de septiembre de 1875. De este modo desaparece el departamento del Valle.</p>
        <h3 class="font-semibold text-lg">18 de septiembre de 1889</h3>
        <p class="mb-4">Se inaugura la línea del ferrocarril.</p>
        <h3 class="font-semibold text-lg">7 de diciembre de 1891</h3>
        <p class="mb-4">Se decreta la desaparición definitiva de los departamentos, sustituyendo la denominación de partidos por la de distritos. Producto de estas modificaciones, el 20 de diciembre del mismo año se publicó la Ley Orgánica para el Gobierno y Administración Interior de las Jefaturas Políticas del Estado, que dividió a la entidad en 31 distritos. Valle de Santiago conforma la cabecera del distrito V junto con “los pueblos del Jaral, La Magdalena y San Jerónimo”.</p>
        <h3 class="font-semibold text-lg">Año de 1910</h3>
        <p class="mb-4">or motivo de las celebraciones del primer centenario de la independencia se remozan los portales Guerrero, Morelos e Hidalgo; al hasta entonces llamado Portal Chiquito, se le completa su arcada y recibe el nombre de Portal Centenario. Se rediseña la torre izquierda de la Parroquia de Santiago Apóstol para recibir la maquinaria de un reloj alemán donado por el Sr. J. Refugio Aguilar y se bautiza al jardín principal como Jardín Independencia.</p>
        <h3 class="font-semibold text-lg">1 de julio de 1913</h3>
        <p class="mb-4">La ciudad de Jaral del Progreso, separada ya del distrito V de Valle de Santiago, se erige en cabecera de distrito.</p>
        <h3 class="font-semibold text-lg">Años de 1911-1920</h3>
        <p class="mb-4">La población sufre incesantes ataques de las fuerzas contendientes en el movimiento revolucionario.</p>
        <h3 class="font-semibold text-lg">Años de 1961-1967</h3>
        <p class="mb-4">Durante el llamado Plan Guanajuato, Valle de Santiago fue dotado de banquetas, guarniciones, pavimentos, jardines, agua y drenaje; pero, sobre todo, fue remodelado para enfatizar sus cualidades urbanas. La primera calle que se pavimenta con concreto hidráulico es la calle Arteaga.</p>
        <h3 class="font-semibold text-lg">Año de 1973</h3>
        <p class="mb-4">Son inauguradas obras importantes en el municipio. Entre ellas, la Unidad Deportiva, el acceso a La Alberca, la remodelación del Parque Hidalgo (la Alameda) y el Auditorio Municipal.</p>
        <h3 class="font-semibold text-lg">Años 1986-1988</h3>
        <p class="mb-4">Se embellece y se hace peatonal el perímetro del Jardín Independencia (Jardín Principal) con excepción de la calle Carranza frente al atrio parroquial.</p>
        <h3 class="font-semibold text-lg">Años 1995-1997</h3>
        <p class="mb-4">Son realizadas varias obras. Entre ellas el paseo de acceso a San Javier, empedrado y aperturado el libramiento poniente, los accesos a la Hoya de Álvarez y a la cima del cerro de La Batea, el camino semi perimetral de La Alberca y el bulevar norte salida a Salamanca.</p>
        <h3 class="font-semibold text-lg">Años 2008-2009</h3>
        <p class="mb-4">Se inaugura la glorieta conmemorativa de los 400 años de fundación de la ciudad y se remodelan los portales Hidalgo, Centenario, Morelos y Guerrero. Se embellece el Parque Hidalgo (Alameda) y se realiza una intervención para crear un corredor entre ésta y el Jardín Independencia (Jardín Principal).</p>
        <a href="/" class="text-gray flex justify-start items-center gap-x-1 w-fit mb-6 lg:hover:text-gray/80 transition">
          <i class='bx bx-chevrons-left'></i> Regresar
        </a>
      </article>

      <aside class="md:col-span-1 flex flex-col gap-y-8 lg:mt-6">
        {cronologia.map(({title, image}) => (
          <img 
            loading="lazy" 
            decoding="async"
            src={`/images/historia/cronologia/${image}`} 
            alt={title}
            title={title}
            class="w-full h-44 rounded object-contain"
          />
        ))}
      </aside>
    </main>
  </section>
</Layout>