---
import Layout from "../../layouts/Layout.astro";
import { huellasEspaciales } from '../../components/Sobre-valle/huellas-espaciales-data.astro';
---

<Layout title="Huellas espaciales">
  <section>
    <a href="/" class="text-gray pt-2 flex justify-start items-center gap-x-1 w-fit">
      <i class='bx bx-chevrons-left'></i> Regresar
    </a>

    <main class="mt-4 grid grid-cols-1 md:grid-cols-3 pb-20 gap-x-20">
      <article class="md:col-span-2">
        <aside class="py-2 px-4 bg-gradient-to-br from-primary to-secondary uppercase
        text-white text-xl md:text-2xl rounded-xl font-MontserratAlternates mb-4 relative w-fit">
            Huellas espaciales
          <div class="absolute inset-0 border-4 border-primary rounded-xl"></div>
        </aside>

        <h5 class="text-lg font-semibold">AL DESCUBRIMIENTO DE HUELLAS ESPACIALES</h5>
        <h4 class="text-black/60 text-sm mb-4">NOTA IMPORTANTE:Lo aquí asentado no necesariamente coincide con la opinión del quien mantiene estas páginas en Internet.</h4>
        <p class="mb-4">En pleno centro geográfico de la república mexicana se encuentra el Valle de Santiago, Guanajuato; fabuloso lugar de cráteres volcánicos que al parecer están en correspondencia con las estrellas y donde también se localizan rastros de un antiquísimo culto celeste.</p>
        <p class="mb-4">De un tiempo a esta fecha, el Valle de Santiago, en el estado de Guanajuato, en el centro mismo de la república mexicana, se ha convertido en el centro de una serie de rumores relacionados con OVNIS y seres extraterrestres. Muchos de los relatos que corren de boca en boca por el lugar y que han trascendido a la prensa se antojan fantásticos, y hasta ahora ninguno de ellos ha sido comprobado. Se habla, por ejemplo, de un mundo subterráneo donde habitan seres gigantescos que de vez en cuando suben a la superficie y establecen contacto con los lugareños. Se dice también que estos seres le han transmitido a un campesino el secreto para cultivar verduras gigantescas y que todas las noches surgen de las lagunas naves voladoras que se elevan hacia el cielo.</p>
        <h5 class="mb-4 text-lg font-semibold">Espejo que refleja las estrellas.</h5>
        <p class="mb-4">Por su ubicación Valle de Santiago y Yuriria pueden ser considerados como el centro geográfico de la república mexicana. Abarcan una superficie total de 1,355 kilómetros cuadrados (municipios completos) y se encuentran a 1,723 y 1,736 metros de altura sobre el nivel del mar respectivamente.</p>
        <p class="mb-4">Según el investigador e historiador Fulgencio Vargas, geológicamente la zona abarca 16 cráteres, aunque las tradiciones y leyendas sólo hacen referencia a siete.</p>
        <p class="mb-4">De acuerdo a la hipótesis de la científica y doctora en astroarqueología Guadalupe Rivera de Iturbe cada 1,040 años (20 "siglos" mesoamericanos), las estrellas de la Osa Mayor, quedan ubicadas exactamente arriba de los cráteres más importantes - y más conocidos- del municipio guanajuatense de Valle de Santiago</p>
        <p class="mb-4">Partiendo de la evidencia de que muchas ciudades de la antigüedad - por ejemplo, las griegas- fueron construidas de acuerdo a un mapa zodiacal, la investigadora ha realizado un levantamiento topográfico de la república mexicana, descubriendo que en el país existen varias que corresponden a un signo zodiacal.</p>
        <p class="mb-4">En un libro de geografía escolar del siglo pasado, cuyo autor es Ignacio Ramírez "El Nigromante", se encuentra en una de las láminas de ese libro un mapa de los cráteres del Valle de Santiago que establece su ubicación exacta por medio del trazo de ciertas líneas.</p>
      </article>

      <aside class="md:col-span-1 flex flex-col gap-y-8">
        {huellasEspaciales.map(({title, image}) => (
          <img 
            loading="lazy" 
            decoding="async"
            src={`/images/sobre-valle/huellas-espaciales/${image}`} 
            alt={title}
            title={title}
            class="w-full h-44 rounded object-contain"
          />
        ))}
      </aside>
    </main>
  </section>
</Layout>

