---
import Layout from "../../layouts/Layout.astro";
import { verdurasGigantes } from '../../components/Sobre-valle/verduras-gigantes-data.astro';
---

<Layout title="Verduras gigantes">
  <section>
    <main class="mt-4 grid grid-cols-1 md:grid-cols-3 pb-20 gap-x-20">
      <article class="md:col-span-2">
        <aside class="py-2 px-4 bg-gradient-to-br from-primary to-secondary uppercase
        text-white text-xl md:text-2xl rounded-xl font-MontserratAlternates mt-6 mb-4 relative w-fit">
            Verduras gigantes
          <div class="absolute inset-0 border-4 border-primary rounded-xl"></div>
        </aside>
        
        <h3 class="font-semibold text-lg">Las Verduras Gigantes del Valle de Santiago</h3>
        <h4 class="text-black/60 text-sm mb-4">NOTA IMPORTANTE: Lo aquí asentado no necesariamente coincide con la opinión de quien mantiene estas páginas en internet.</h4>
        <p class="mb-4">Para comenzar habrá que describir el clima de nuestra ciudad. El predominante es el semicálido con lluvias en verano. En la zona sur el clima es templado sub-húmedo. La precipitación pluvial varía de 600 a 800 mm anuales y la temperatura media anual es de 19.2 grados centígrados, con una media máxima de 24 grados y una mínima de 14 grados. La dirección dominante de los vientos es del nororiente hacia el surponiente.</p>
        <p class="mb-4">Nuestro municipio pertenece a la cuenca del Río Lerma. Al sur se encuentra la laguna de Yuriria, de la cual la tercera parte pertenece al municipio de Valle de Santiago.</p>
        <h5 class="text-lg font-semibold">El Valle de Las Luminarias</h5>
        <h4 class="text-black/60 text-sm mb-4">por J. J. Benítez</h4>
        <p class="mb-4">Valle de Santiago, en el centro mismo de la república mexicana, ocupa una superficie de siete kilómetros cuadrados en donde se alzan siete volcanes extintos. Conocido como "El País de las Siete Luminarias" suceden y siguen registrándose hechos increíbles como el de las verduras gigantes.</p>
        <p class="mb-4">Sinceramente, de no haberlo visto con mis propios ojos, difícilmente lo hubiera aceptado. Porque ¿quién puede imaginar una col de 43 kilos de peso? ¿En qué cabeza cabe que la tierra pueda ofrecer matas de apio de un metro de altura, cañas de maíz de cuatro, hojas de acelgas de 1.85 metros, o que, de una solitaria semilla de cebolla nazcan hasta doce ejemplares, con un peso total de 15 kgs?</p>
        <p class="mb-4">Se que puede sonar a fantasía muy propia de relatos o películas de ciencia ficción. A las imágenes me remito. Ellas, en este caso, dicen más que mil palabras.</p>
        <h5 class="mb-4 text-lg font-semibold">Antecedentes</h5>
        <p class="mb-4">En estos precisos momentos no es posible establecer a ciencia cierta lo que acontece y el por qué de estas maravillas sorprendentes de la naturaleza.</p>
        <p class="mb-4">Investigadores nacionales y extranjeros han llegado y tal cual se han ido. Si algo han descubierto no se sabe (al menos en la localidad).</p>
        <p class="mb-4">El Ing. Francisco Merino Rábago, Secretario de Agricultura en el gobierno de López Portillo, invitó a los autores a tener una reunión con sus técnicos, la cual se celebró el 20 de septiembre de 1977 en las oficinas de la propia secretaría. En dicha junta ofrecieron los agricultores entregar la fórmula y el método a cambio de la creación de un Parque Nacional en el municipio y que se construyera una escuela de agricultura, precisamente en el interior de uno de los cráteres llamado la Hoya de Alvarez. Dicha propuesta quedó entre las miles archivadas en el frívolo sexenio lopezportillista.</p>
        <p class="mb-4">Lo que si es un hecho es que en Valle de Santiago "algunos" han encontrado "algo" que hace aumentar la productividad increíblemente y el tamaño de las hortalizas y verduras.</p>
        <a href="/" class="text-gray flex justify-start items-center gap-x-1 w-fit mb-6">
          <i class='bx bx-chevrons-left'></i> Regresar
        </a>
      </article>

      <aside class="md:col-span-1 flex flex-col gap-y-8 lg:mt-6">
        {verdurasGigantes.map(({title, image}) => (
          <img 
            loading="lazy" 
            decoding="async"
            src={`/images/sobre-valle/verduras-gigantes/${image}`} 
            alt={title}
            title={title}
            class="w-full h-44 rounded object-contain"
          />
        ))}
      </aside>
    </main>
  </section>
</Layout>