---
import Layout from "../../layouts/Layout.astro";
import { laAlberca } from '../../components/Sitios-de-interes/la-alberca-data.astro';
---

<Layout title="La alberca">
  <section>
    <main class="mt-4 grid grid-cols-1 md:grid-cols-3 pb-20 gap-x-20">
      <article class="md:col-span-2">
        <aside class="py-2 px-4 bg-gradient-to-br from-primary to-secondary uppercase
        text-white text-xl md:text-2xl rounded-xl font-MontserratAlternates mt-6 mb-4 relative w-fit">
            La alberca
          <div class="absolute inset-0 border-4 border-primary rounded-xl"></div>
        </aside>
        
        <h3 class="font-semibold text-lg mb-4">La Alberca, un templo al silencio</h3>
        <p class="mb-4">El llamado Cráter-Lago de La Alberca es, por mucho, el más conocido y visitado de todas las Hoyas de la región. Con más de 750 metros de diámetro, este cráter alberga una laguna de aguas con compuestos sódicos.</p>
        <p class="mb-4">Es en verdad tan importante para nuestra ciudad que hasta cuenta con "su" día especial: el 25 de septiembre. Este día se asiste a su explanada, a su interior, en sus laderas y, en general, en donde haya sitio para hacerlo, a probar antojitos locales o comida traída para celebrar tal acontecimiento.</p>
        <p class="mb-4">Por su cercanía con la ciudad -en realidad, ya ha sido absorbido por el casco urbano-, su fácil acceso a traves de un camino hecho exprofeso para ello y su belleza imponente, este Templo al Silencio se yergue majestuoso y profundo.</p>
        <p class="mb-4">En su interior se pueden practicar depórtes acuáticos tales como veleo, motonáutica, buceo, etc.</p>
        <p class="mb-4">Sin embargo no es ocioso subrayar que las aguas frías y remolinos sobre todo en su parte central no hacen muy recomendable su uso para nadadores ocacionales. Es famoso en la zona el mote de el volcán tragachilangos que se le ha impuesto debido al gran número de accidentes, ahogados y demás que estas aguas han cobrado.</p>
        <p class="mb-4">Sus aparentemente apacibles aguas hacen que las ame más que a la tierra porque duplican el cielo (diría el poeta tabasqueño Carlos Pellicer), sus ásperas y abruptas paredes casi verticales, mudos testigos de la fuerza desbocada de la naturaleza y vestigios eternos de la lengua de fuego que una vez surgió de las entrañas de la Tonacacíhuatl del Bajío se encuentran en espera, siempre, para ser admiradas por los ojos del Hombre.</p>
        <p class="mb-4">Es sobre La Alberca donde se han tejido más historias y leyendas. Algunas de ellas son: La del monstruo tipo escocés, la romántica leyenda de Alberta (La Alberca) y Julián (Cerro de Culiacán), la del túnel secreto bajo del lago quien no parece tener fondo y hasta la de ser el centro de actividades secreto de naves extraterrestres.</p>
        <p class="mb-4">Algunos dicen que es el lago principal del mítico Chicomostoc el cual ha sido distorsionado en su traducción, la cual debería de ser: Lugar de los Siete Volcanes.</p>
        <p class="mb-4">Otros creen que es la legendaria Fuente de la Eterna Juventud, o al menos así lo creyó (y esto sí es verídico) nuestra exprimera dama. En efecto la Sra. Carmen Romano de López Portillo a instancias del entonces famoso Uri Geller creyó a pie juntillas sobre el magnetismo y magia de estas frías aguas. Y, junto con el que después resultó más que famoso timador judío, venían a hacer inmersiones nocturnas en ciertos días del año irrumpiendo la tranquilidad casi proverbial de esta zona con un despliegue de helicópteros, vehículos de tierra y guaruras que suelen acompañar a encumbrados miembros del gabinete y sus familiares. Después también se supo del romance que sostenían ambos personajes y que, quizás más en un arranque de exoticidad y sensualidad que de creencia real sobre las virtudes de las aguas del lago-cráter, hacía que regresaran a nuestra Alberca.</p>
        <h3 class="font-semibold text-lg mb-4">Leyenda del Volcán La Alberca</h3>
        <p class="mb-4">Cerca del Valle hay un cerro que se parece a un cono pero no es volcán se llama "Cerro de Culiacán". Dicen que hace muchos años rodaban muchas piedras desde aquel cerro hasta el cráter La Alberca y desde éste volaban las nubes hasta el cerro para dejar caer la lluvia sobre aquél, en una pelea infinita.</p>
        <p class="mb-4">¿Cuándo terminó esta "pelea"? Cuando la población pidió al Cura del lugar que los uniera "EN SAGRADO MATRIMONIO". Se cuenta que después de la ceremonia en la que al cerro de Culiacán se le llamó Julián y el cráter La Alberca se le llamó Alberta ya no "pelearon nunca más".</p>
        <h3 class="font-semibold text-lg mb-4">Estado Actual</h3>
        <p class="mb-4">Si hay algún cráter simbólico, sin menoscabar la importancia de todos los demás, es sin duda La Alberca. Su cercanía a la ciudad lo convirtió en parte de la misma en pocos años. Llegó a tener, los 25 de septiembre, una fiesta importante que se remontaba a épocas prehispánicas y que ahora es solo un remedo.</p>
        <p class="mb-4">Ahora este cuenco está abrazado materialmente por la zona urbana. Le hemos despojado de su dignidad y hasta de la importancia de su fiesta. Este templo al silencio, por la soberbia y serena majestuosidad que imponía al entrar a él, se ha convertido en una desgracia. Somos, amigos míos, la generación que hemos visto morir al cráter sin haber hecho nada importante por impedirlo. Y no basta la queja cómoda de echarle la culpa a las autoridades, pues aún y teniéndola, este patrimonio es de todos los vallenses y no solo de sus gobernantes.</p>
        <p class="mb-4">A ciencia cierta ignoro si los pozos perforados en su cercanía, el de la unidad deportiva y el de la colonia Francisco Villa, hayan sido parte del motivo para que se secara.
          Por eso creo que aún podemos hacer mucho por esta zona protegida y en especial por "el templo al silencio".</p>
        <a href="/" class="text-gray flex justify-start items-center gap-x-1 w-fit mb-6">
          <i class='bx bx-chevrons-left'></i> Regresar
        </a>
      </article>

      <aside class="md:col-span-1 flex flex-col gap-y-8 lg:mt-6">
        {laAlberca.map(({title, image}) => (
          <img 
            loading="lazy" 
            decoding="async"
            src={`/images/sitios-de-interes/la-alberca/${image}`} 
            alt={title}
            title={title}
            class="w-full h-44 rounded object-contain"
          />
        ))}
      </aside>
    </main>

  </section>
</Layout>