---
import Layout from "../../layouts/Layout.astro";
import { parroquiaSantiagoApostol } from '../../components/Sitios-de-interes/parroquia-de-santiago-apostol-data.astro';
---

<Layout title="Parroquia de Santiago Apóstol">
  <section>
    <main class="mt-4 grid grid-cols-1 md:grid-cols-3 pb-20 gap-x-20">
      <article class="md:col-span-2">
        <aside class="py-2 px-4 bg-gradient-to-br from-primary to-secondary uppercase
        text-white text-xl md:text-2xl rounded-xl font-MontserratAlternates mt-6 mb-4 relative w-fit">
            Parroquia de Santiago Apóstol
          <div class="absolute inset-0 border-4 border-primary rounded-xl"></div>
        </aside>
        
        <h3 class="font-semibold text-lg mb-4">LA MAGIA DE LA SECCIÓN ÁUREA EN LA PARROQUIA DE SANTIAGO APOSTOL</h3>
        <p class="mb-4">La siguiente presentación forma parte integral del estudio artístico-pictórico, hagiográfico y arquitectónico del edificio más importante erigido nunca jamás en el municipio de Valle de Santiago, Gto. y llevado a cabo por especialistas en el tema: La Parroquia de Santiago Apóstol en Valle de Santiago, de próxima aparición.</p>
        <p class="mb-4">En este caso se muestran las imágenes del análisis que comprueba que en las técnicas de diseño de ese siglo XVIII que se utilizaron para construir la Parroquia de Santiago Apóstol (quizá por algunos de los alarifes que edificaron en Guanajuato capital la capilla adjunta y ahora bautisterio de la Basílica de Nuestra Señora de Guanajuato, realizada bajo los auspicios del marqués de San Clemente y Pedro Lascurain de Retana), se valieron del proporcionamiento a través del concepto de la sección áurea, llamada también número de oro, proporción de Durero o rectángulo dorado.</p>
        <p class="mb-4">Es sumamente interesante afirmar, por primera vez y a través de un análisis acucioso, que esta técnica de composición, usada en varios edificios del México colonial proveniente de Europa y que se remonta a 2,500 años antes, hasta los griegos que la usaron en el Partenón de la Acrópolis de Atenas, está aquí, en la portada de Santiago.</p>
        <p class="mb-4">La portada principal, orientada al poniente, tiene tres cuerpos divididos en tres calles hechos de cantera. A continuación se muestran detalles relevantes de cada uno de ellos, adjunto hallará una breve descripción iconográfica:</p>
        <p class="mb-4">El primer cuerpo contiene en la calle central la puerta de acceso que esta rematada con la mitad de un arco dodecágono. Sobre la clave está una figura, denominada comunmente como "angelote", con estilo y proporciones que denotan la mano de obra indígena y rematada, justo en la frontera de los dos primeros cuerpos, con una hornacina que contiene la representación de San José con el niño en brazos y sosteniendo un lirio en la mano derecha.</p>
        <p class="mb-4">Las columnas terciadas, en la primera y tercera calle, estriadas en sus tercios superiores rematan con capiteles no exactamente corintios. Los plintos o pedestales, embebidos al igual que las columnas, muestran ese especial estilo barroco de toda la portada.</p>
        <p class="mb-4">Los dentículos o gotas del friso se repiten en toda la longitud de la cornisa solo interrumpidos por la hornacina axial.</p>
        <p class="mb-4 text-gray">Las fachadas y los retablos de la época están dispuestos con una geometría muy precisa. Se les llama "cuerpos" a las regiones horizontales, separadas por molduras y cornisas, y "calles" a las secciones verticales, separadas por pilastras o columnas. A su vez, las unidades básicas formadas por esta cuadrícula resultante entre las calles y los cuerpos se denominan "encasamentos", y suelen albergar representaciones escultóricas o pinturas. Al conjunto de elementos arquitectónicos que enmarcan y dividen el retablo se denomina "mazonería".</p>
        <p class="mb-4">El segundo cuerpo tiene, en la calle central, un ligero almohadillado con un rosetón octagonal que da al sotocoro. Al igual que el primer cuerpo tiene columnas terciadas pero con un estriado en espiral (tipo salomónico) que presagian a las que se muestran en el tercer cuerpo.</p>
        <p class="mb-4">Las hornacinas de las calles que flanquean a la central no son de un cuarto de esfera, como las de los restantes cuerpos, sino hexagonales. Se menciona que la escultura del lado derecho, que se encuentra degollada, fue mutilada en un accidente por un llamado "hombre mosca".</p>
        <p class="mb-4">El tercer cuerpo tiene una representación del escudo papal. En su parte izquierda esta una cruz de tres travesaños y en la derecha una de las llaves del cielo, es remarcable el hecho que este escudo no esté exactamente sobre el eje de simetría vertical. Este axil es movido hacia la derecha dejando libre la línea imaginaria que une la cruz de arriba con la representación del santo sobre la puerta principal (ver detalle).</p>
        <p class="mb-4">Arriba, ¿dónde más?, está una cruz de Caravaca, símbolo asociado al Señor Santiago (para mayor información puede verse la sección dedicada a la Cruz de Caravaca en este mismo sitio). Las columnas son salomónicas con motivos florales rematadas con capiteles corintios. La proporción de éstas no siguen los cánones clásicos tendiendo más bien a ser "achaparradas".</p>
        <p class="mb-4">Aquí es interesante explicar que las cruces patriarcales son las de dos y tres travesaños y denotan jerarquía dentro de la iglesia católica. Esto implica que la de tres, desde el S. XV, solo puede ser utilizada por el Papa y nadie más. El significado de los tres travesaños algunos lo apuntan a las tres cruces que fueron clavadas en el Gólgota el día de la crucifixión, otros a que son la representación de la iglesia, la tierra y el cielo.</p>
        <p class="mb-4">La de dos travesaños llamada cruz de Caravaca, que ya dijimos es la que se asocia a Santiago, solo la pueden utilizar los cardenales y los arzobispos. Significando el travesaño superior el letrero INRI que fue fijado en la cruz donde fue sacrificado Jesús y el inferior a sus brazos.</p>
        <h3 class="font-semibold text-lg"></h3>
        <a href="/" class="text-gray flex justify-start items-center gap-x-1 w-fit mb-6">
          <i class='bx bx-chevrons-left'></i> Regresar
        </a>
      </article>

      <aside class="md:col-span-1 flex flex-col gap-y-8 lg:mt-6">
        {parroquiaSantiagoApostol.map(({title, image}) => (
          <img 
            loading="lazy" 
            decoding="async"
            src={`/images/sitios-de-interes/parroquia-de-santiago-apostol/${image}`} 
            alt={title}
            title={title}
            class="w-full h-44 rounded object-contain"
          />
        ))}
      </aside>
    </main>

  </section>
</Layout>