<div class="containerSpace grid grid-cols-2 place-content-center mt-28 mb-12">
  <img 
    src="images/actualizaciones.gif" 
    alt="Actualizaciones"
    title="Actualizaciones"
    class="w-[90%] h-72 bg-gray/20 rounded"
  />

  <article>
    <h2 class="font-semibold font-MontserratAlternates text-2xl">NOTA IMPORTANTE</h2>
    <p class="mt-4 text-black/60 leading-7">Este sitio WEB es considerado el más antiguo, al menos en el estado de Guanajuato, que existe en la red dedicado y consagrado exclusivamente a difundir a un municipio. Anterior a él existieron algunas páginas de gobierno del estado que únicamente mostraban párrafos aislados con carácter turístico. Este sitio originalmente residía en SPIN (1991-1995) y después se trasladó al espacio actual en 1995, siempre como página independiente y sin publicidad alguna.</p>
  </article>
</div>