<form 
  class="flex items-center"
  id="handleSubmit"
>
  <input 
    type="text" 
    title="Buscar"
    placeholder="Buscar..."
    class="p-2 w-96 rounded-sm outline-none"
  />
  <button class="bg-secondary text-xl p-[11px] text-white rounded-sm">
    <i class='bx bx-search'></i>
  </button>
</form>

<script>
  const handleSubmit = document.querySelector("#handleSubmit");

  handleSubmit !== null && 
  handleSubmit.addEventListener("click", () => {
    
  });
</script>