---
import Search from "../Index/Search";

---

<article class="bg-black max-w-[1000px] mx-4 lg:mx-auto max-h-[570px] my-8 lg:my-12 p-2 relative">
  <video 
    class="w-full mx-auto opacity-50"
    muted
    autoplay
    loop
    src="/public/videos/videoHero.mp4"  
    title="Atracciones Valle de Santiago, GTO" 
  >
  </video>

  <aside class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-xs md:max-w-md">
    <h2 class="text-white font-semibold text-xl sm:text-4xl md:text-5xl font-Kalnia text-center">EL PAÍS DE LAS 7 LUMINARIAS</h2>
    <div class="hidden md:block mt-4">
      <Search />
    </div>
  </aside>
</article>