---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logoValle.jpg" />
		<!-- Google Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Kalnia:wght@400;500;700&display=swap" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light;
	}

	html {
		background: #fff;
		background-size: 224px;
	}

	html, body {
		font-family: 'Montserrat', sans-serif;
	}

	section {
		margin: 0 64px;
	}

	@media screen and (width < 768px) {
		section {
			margin: 0 16px;
		}
	}
</style>
